name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
      - uses: extractions/setup-just@v3
      - run: just lint

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - uses: extractions/setup-just@v3
      - run: just format

  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/asteurer/opentelemetry-wasi-integration-tests-base:latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - run: just test
